body {
  background-color: #f4f4f4;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-top: 50px;
}

h3 {
  font-size: 24px;
  margin: 30px 0;
  text-align: center;
}

a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #a6a6a6;
}
